{{!-- <div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
              <div class="col-md-4">
                <div class="box">
                    <div class="our-services settings">
                        <div class="icon">
                            
                        </div>
                            <h4>Settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, voluptatum reiciendis fugiat dolores porro rerum?</p> 
                    </div>
                    <div class="our-services settings">
                        <div class="icon">
                            <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                        </div>
                            
                        </div>
                       <div class="our-services settings">
                        <div class="icon">
                            <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                        </div>
                            <h4>Settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, voluptatum reiciendis fugiat dolores porro rerum?</p>
                        </div> 
                        <div class="our-services settings">
                        <div class="icon">
                            <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                        </div>
                            <h4>Settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, voluptatum reiciendis fugiat dolores porro rerum?</p>
                        </div>
                        <div class="our-services settings">
                        <div class="icon">
                            <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                        </div>
                            <h4>Settings</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, voluptatum reiciendis fugiat dolores porro rerum?</p>
                        </div>
                </div>               
                    </div>
                </div>
              </div>
          </div>
        </div> --}}



<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                 <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                            </div>
                            <h4>Settings</h4>
                            <p>We offer comprehensive solutions for optimizing diverse challenges, providing innovative and tailored strategies to enhance efficiency and overcome complexities in various domains</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                 <img width="90" height="90" src="https://img.icons8.com/ios-filled/100/speedometer.png" alt="">
                            </div>
                            <h4>Speedup</h4>
                            <p>Accelerate your operations with us – streamlining processes, maximizing efficiency, and delivering swift solutions to boost your business performance and overall productivity</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                 <img src="https://i.imgur.com/AgyneKA.png" alt="">
                            </div>
                            <h4>Privacy</h4>
                            <p>Safeguard your data with RK Tech's privacy solutions. Our robust measures ensure confidentiality, compliance, and peace of mind, securing your information in a trusted environment</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                 <img src="https://i.imgur.com/vdH9LKi.png" alt="">
                            </div>
                            <h4>Backups</h4>
                            <p>We provides reliable backup solutions. Safeguard your valuable data with automated, secure backups, ensuring business continuity and quick recovery in the face of unexpected challenges</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                 <img src="https://i.imgur.com/v6OnUqu.png" alt="">
                            </div>
                            <h4>SSL secured</h4>
                            <p>Trust RK Tech for SSL security. Our robust encryption shields your online presence, ensuring a secure and trustworthy environment, fostering confidence and protecting sensitive information on your platform</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                 <img src="https://i.imgur.com/VzjZw9M.png" alt="">
                            </div>
                            <h4>Database</h4>
                            <p>We offer robust database solutions. Optimize data management with our scalable, reliable databases, ensuring seamless access, organization, and security for your business-critical information</p>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>      
